
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">BookCLUB</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">About</a></li>
        <li><a href="badges.html">Library</a></li>
        

        <% if user_signed_in? %>
          <li><%= link_to "Sign-Out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign-In", new_user_session_path,method: :get %></li>
        <% end %> 


      </ul>
    </div>
  </nav>

<h2> This Weeks Bestseller list</h2>
<hr />
<div class="carousel">
    <a class="carousel-item" ><img src="https://prodimage.images-bn.com/pimages/9780385543026_p0_v4_s460x700.jpg"></a>
    <a class="carousel-item" ><img src="https://prodimage.images-bn.com/pimages/9781250077011_p0_v8_s460x700.jpg"></a>
    <a class="carousel-item" ><img src="http://prodimage.images-bn.com/pimages/9781455591749_p0_v6_s192x300.jpg"></a>
    <a class="carousel-item" ><img src="https://prodimage.images-bn.com/pimages/9781476789385_p0_v2_s460x700.jpg"></a>
    <a class="carousel-item" ><img src="https://prodimage.images-bn.com/pimages/9781616205676_p0_v4_s461x700.jpg"></a>
    <a class="carousel-item" ><img src="https://prodimage.images-bn.com/pimages/9781250066190_p0_v3_s460x700.jpg"></a> 
    <a class="carousel-item" ><img src="https://prodimage.images-bn.com/pimages/9780316262330_p0_v7_s.jpg"></a>
    <a class="carousel-item" ><img src="https://prodimage.images-bn.com/pimages/9780345543882_p0_v2_s461x700.jpg"></a> 
    <a class="carousel-item" ><img src="https://prodimage.images-bn.com/pimages/9781455569021_p0_v4_s460x700.jpg"></a> 5
    <a class="carousel-item" ><img src="https://prodimage.images-bn.com/pimages/9781250051042_p0_v1_s461x700.jpg"></a>
    <a class="carousel-item" ><img src="https://s-media-cache-ak0.pinimg.com/236x/ce/bf/1d/cebf1db1bfef84b35f7879a2a6395fe1.jpg"></a>
  </div>

<h1> Book of the Week </h1>


<ul class= "book">

<% @books.each do |book| %>
	<li><%= link_to book.name, book_path(book)%></li>
  <p><%= image_tag book.picture_url.to_s, style:"width:200px; height:200px;", class:"img-circle" %></p>
<% end %>

</ul> 

<%= link_to "New Book", new_book_path %>

